input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	border-radius: 0;
	-webkit-appearance: none; // For iOS, but this *may* cause disappearance on Desktop.

    &:focus {
        outline: none;  
    }
}



textarea {}



label{}



input[type="submit"] {

    &:hover {

    }
}